doctype html
html
  head
    title Hola desde un pug
  body
    h1 Bienvenido a pug
    p.saludos#persona Hola Mundo
    div.
      asdasdasdasdasdasdascsdacadc
      ascsdacdsacdsadscsdcadcsadCX
      SXAxaSXAssaDADASadasdaasdas
