hmtl
  head
    title Persona
  body
    form(action = "/persona", method = "POST")
      div
        label(for ="nombre") Nombre:
        input(name = "nombre")
      br
      div
        label(for = "edad") Edad:
        input(name = "edad")
      br
      div
        label(for = "nacionalidad") Nacionalidad:
        input(name = "nacionalidad")
      br
      button(type = "submit") Registrar nueva persona
